@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: local('WorkSans'), local('WorkSans-Regular')
    url('./fonts/WorkSans-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 700;
  src: local('WorkSans'), local('WorkSans-Regular')
    url('./fonts/WorkSans-Bold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: local('WorkSans'), local('WorkSans-Regular')
    url('./fonts/QuattrocentoSans-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 700;
  src: local('WorkSans'), local('WorkSans-Regular')
    url('./fonts/QuattrocentoSans-Bold.ttf') format('truetype'),
}